@page "/Compra"
@page "/Compra/{CompraId:int}"

@inject ComprasBLL comprasBLL
@inject ProductosBLL productosBLL
@inject NotificationService notificationService


<EditForm Model="compra" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card text-dark bg-light mb-3 shadow-lg">

        <div class="card-header">
            <h3>Registro de Compras</h3>
        </div>

        <div class="card-body">

            <div class="row justify-content-between">

                <div class="col-3">
                    <label>CompraId</label>
                    <div class="input-group mb-3">
                        <InputNumber class="form-control" @bind-Value="compra.CompraId" />
                        <button class="btn btn-outline-primary" type="button" @onclick="Buscar"> <i class="oi oi-magnifying-glass" /> </button>
                    </div>
                </div>

                <div class="col-3">
                    <label>Fecha</label>
                    <InputDate class="form-control" @bind-Value="compra.Fecha" />
                    <ValidationMessage For="@(() => compra.Fecha)" />
                </div>
            </div>


            <fieldset class="border-success">

                <div class="row">

                    <div class="col-2">
                        <label>Producto</label>
                        <InputSelect class="form-select" @bind-Value="detalle.ProductoId">
                            <option value="0" disabled> Seleccione </option>
                            @foreach (var producto in ProductList)
                            {
                                <option value="@producto.ProductoId"> @producto.Descripcion</option>
                            }
                        </InputSelect>

                    </div>

                    <div class="col-2">
                        <label>Cantidad</label>
                        <InputNumber class="form-control" @bind-Value="detalle.Cantidad" />
                    </div>

                    <div class="col-2">
                        <button type="button" class="btn btn-success" @onclick="AgregarDetalle">
                            <span class="oi oi-plus">Agregar</span>
                        </button>
                    </div>

                </div>

            </fieldset>

            <hr />

            <table class="table table-bordered table-light">

                <thead class="thead">
                    <tr class="table">
                        <th>ProductoId</th>
                        <th>Descripción</th>
                        <th>Costo</th>
                        <th>Cantidad</th>
                        <th>Importe</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var detalle in compra.Detalle)
                    {
                        <tr>
                            <td>@detalle.ProductoId</td>
                            <td></td>
                            <td>@detalle.Costo</td>
                            <td>@detalle.Cantidad</td>
                            <td>@detalle.Importe.ToString("N2") </td>
                        </tr>
                    }
                </tbody>

            </table>

            <hr />

            <div class="row d-flex justify-content-end">
                <div class="col-3">
                    <label>Total</label>
                    <span class="form-control"> @compra.Total.ToString("N2") </span>
                </div>
            </div>

            <button type="button" class="btn btn-danger" @onclick="DaError"><i class="oi oi-trash" /> Da Error</button>
        </div>

        <div class="card-footer d-flex justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary" @onclick="Nuevo"> <i class="oi oi-file" /> Nuevo</button>
                <button type="submit" class="btn btn-success"> <i class="oi oi-document" /> Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar"><i class="oi oi-trash" /> Eliminar</button>
            </div>
        </div>

    </div>
</EditForm>
@code {
    [Parameter]
    public int CompraId { get; set; }

    public Compras compra { get; set; } = new Compras();
    public ComprasDetalle detalle { get; set; } = new ComprasDetalle();

    public List<Productos> ProductList { get; set; } = new List<Productos>();

    protected override void OnInitialized()
    {
        ProductList = productosBLL.GetList();

        if (CompraId > 0)
        {
            compra.CompraId = CompraId;
            Buscar();
        }
    }

    void Buscar()
    {
        var encontrado = comprasBLL.Buscar(compra.CompraId);
        if (encontrado != null)
        {
            compra = encontrado;

        }

    }

    void DaError()
    {
        var compra = comprasBLL.Buscar(1);

        comprasBLL.Guardar(compra);
        comprasBLL.Guardar(compra);

    }
    void AgregarDetalle()
    {
        this.compra.Detalle.Add(this.detalle);
        this.detalle = new ComprasDetalle();
    }

    void Nuevo()
    {
        this.compra = new Compras();
    }
    void Guardar()
    {
        if (comprasBLL.Guardar(this.compra))
        {
             //notificationService.Success("Registro guardado correctamente");
            
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Guardado correctamente"
                    });
                     
        }
        else
        { 
        }
    }

    void Eliminar()
    {
        comprasBLL.Eliminar(this.compra);
    }

    void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);

    }
}
